.product-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-title {
    margin: 0;
}

.product-text {
    margin: 0;
}

.product-kcal {
    font-size: 20px;
}

.ModalMenuContent {
    width:  80%;
    max-width: 500px;
    height: 650px;
    padding: 50px;
    background-color: white;
    position: absolute;
    border-radius: 30px;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    transition: 0.5s;
    padding-top: 20px;
}

.inputModalMenu {
    padding:5px 10px ;
    border-radius: 15px;
    width: 94%;
    font-size: 22px;
    border: 1px solid gray;
}

.ScrollContent::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(26, 24, 47, 0.15);
    border-radius: 5px;
    height: 200px;
    padding-top: 10px;
}

.ScrollContent::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

.ScrollContent {
    overflow-y: auto;
    height: 490px;
    padding: 10px;
}

.ModalMenuBtn {
    padding: 0;
    max-height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.circleCountProduct {
    border: solid 2px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.ProductActive {
    display: block;
}

.NoneProductActive {
    display: none;
}

.addNewProduct {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 15px;
    border: solid 1px gray;
    background-color: transparent;
}

.ModalNewProductInput {
    padding: 8px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    border: solid 1px gray;
}

.Modal_close {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

.ModalEdaAccountBtn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #999;
    font-size: 20px;
    background-color: rgb(1, 216, 245);
}

@media (max-width: 500px) {
    .ModalMenuContent h2 {
        font-size: 18px;
    }

    .product-title {
        font-size: 16px;
    }

    .product-text {
        font-size: 14px;
    }

    .ModalMenuContent {
        padding: 20px;
        height: auto;
    }

    .product-kcal {
        font-size: 16px;
    }

    .inputModalMenu {
        font-size: 18px;
    }

    .ModalAccountBtn {
        font-size: 18px;
    }

    .ModalNewProductInput {
        font-size: 18px;
    }
}

@media (max-width: 360px) {
    .product-title {
        font-size: 14px;
    }

    .product-text {
        font-size: 12px;
    }

    .product-kcal {
        font-size: 14px;
    }
}